

<div class="stats" id="stats">
  <div class="container shadowbox1">
    <div class="stats-info">

      <div class="col-md-4 col-sm-4 stats-grid slideanim">
        <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='<%=@energia%>' data-delay='.9' data-increment="10"><%=@energia%></div>
        <h4 class="stats-info">Energia esperada en Watts</h4>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</div>
