<script>
var x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude +
    "<br>Longitude: " + position.coords.longitude;
}
</script>

<div class="clearfix"></div>
<div class="stats" id="stats">
  <div class="container">
  </div>
</div>

<button onclick="getLocation()">Try It</button>
<p id="demo"></p>
<form action="/radiations/calcular">
  <div class="container">

  </div>

</form>
