<!--stats-->
<div class="stats" id="stats">
  <div class="container">
    <div class="stats-info">
      <div class="col-md-4 col-sm-4 stats-grid slideanim">
        <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='1200' data-delay='.5' data-increment="1">1200</div>
        <h4 class="stats-info">Imagenes satelitales</h4>
      </div>
      <div class="col-md-4 col-sm-4 stats-grid slideanim">
        <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='3000' data-delay='.5' data-increment="1">3000</div>
        <h4 class="stats-info">Datos del SIATA</h4>
      </div>
      <div class="col-md-4 col-sm-4 stats-grid slideanim">
        <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='3' data-delay='.9' data-increment="1">3</div>
        <h4 class="stats-info">Estaciones de medición</h4>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--//stats-->
