<div class="footer-top">
	<div class="container">
		<div class="col-sm-6 w3ls-footer-top">
			<h3>QUICK <span>LINKS</span></h3>
				<ul>
						<li><a href="/">Inicio</a></li>
						<li><a href="/radiations">Radiación</a></li>
						<li><a href="/services">Energía</a></li>
						<li><a href="/products">Prediciones</a></li>
						<li><a href="/about">Acerca de</a></li>
					</ul>
		</div>
		<div class="col-sm-6 wthree-footer-top">
			<h3>DIR<span>ECIÓN</span></h3>
				<ul>
				<li><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Carrera 49 # 7 sur 50. Medellín, Antioquia</li>
				<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@example.com">info@example.com</a></li>
				<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> (57) (4) 261 9500</li>
			</ul>
		</div>


			<div class="clearfix"></div>

		<div class="footer-w3layouts">
			<div class="agile-copy">
				<p>© 2017 Solar Panel. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
			</div>
		</div>
	</div>
</div>
