<!-- header -->
<header>
  <!-- Top part: Logo y nombre del proyecto -->
	<div class="w3layouts-top-strip">
		<div class="container">
			<div class="logo">
				<h1><a href="index.html"><span>Radiación </span>Valle de Aburrá</a></h1>
			</div>

			<div class="agileits-contact-info text-right">
				<ul>
					<li><span>YAMPL</span> Yet another machine learning project</li>
				</ul>
			</div>

			<div class="clearfix"></div>
		</div>
	</div>

	<!-- navigation -->
		<nav class="navbar navbar-default">
		  <div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <ul class="nav navbar-nav">
				<li><a class="active" href="/">Inicio</a></li>
				<li><a href="/radiations">Radiación</a></li>
				<li><a href="/radiations/energia">Energía</a></li>
				<li><a href="/products">Prediciones</a></li>
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Info <span class="caret"></span></a>
				  <ul class="dropdown-menu">
          <li><a href="/about">Acerca de</a></li>
				  <li><a href="/icons">Icons Page</a></li>
					<li><a href="/typo">Typography</a></li>

				  </ul>
				</li>
			  </ul>
			</div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	<!-- //navigation -->
</header>
<!-- //header -->
