<h1>Graphics#show</h1>
<p>Find me in app/views/graphics/show.html.erb</p>


<form action="/graphics/submit">
  inicial: <input type="datetime-local" name="start_date"><br>
  final:  <input type="datetime-local" name="end_date"><br>
  <input type="submit" value="Submit">
</form>
